#sidebar{
    width: 100%;
    height: 100%;

    border-right: 1px solid #ccc;


    #menu{
        display: flex; 
        flex-direction: column;       
        
        padding-top: 100px;

        a{
            text-decoration: none;
            color: #333;
            border-bottom: 1px solid #ccc;
            padding: 15px 20px;

            &:hover{
                background-color: #eee;
            }
        }
    }
}