<h5>View Product Details</h5>

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header">
                <h4>Product details</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                <label class="w-100 view-label">Title
                                    <span class="float-right">:</span></label>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                <label class="w-100 view-label"></label>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                <label class="w-100 view-label">Description
                                    <span class="float-right">:</span></label>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                <label class="w-100 view-label"></label>
                            </div>
                        </div>

                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                <label class="w-100 view-label">Category
                                    <span class="float-right">:</span></label>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                <label class="w-100 view-label"></label>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                <label class="w-100 view-label">Size
                                    <span class="float-right">:</span></label>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                <label class="w-100 view-label"></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                <label class="w-100 view-label">color
                                    <span class="float-right">:</span></label>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                <label class="w-100 view-label"></label>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                <label class="w-100 view-label">Price
                                    <span class="float-right">:</span></label>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                <label class="w-100 view-label"></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                <label class="w-100 view-label">Available quantity
                                    <span class="float-right">:</span></label>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                <label class="w-100 view-label"></label>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                    <label class="w-100 view-label">Photo
                                        <span class="float-right">:</span></label>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                    <label class="w-100 view-label"></label>
                                </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>

    <!-- <div class="col-12 text-right pt-2">              
                    
            <button class="btn btn-success mb-2 ml-2">Download</button>
            
        </div> -->

</div>