<h5>View User Details</h5>

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header">
                <h4>User details</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                <label class="w-100 view-label">First name
                                    <span class="float-right">:</span></label>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                <label class="w-100 view-label"></label>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                <label class="w-100 view-label">Last name
                                    <span class="float-right">:</span></label>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                <label class="w-100 view-label"></label>
                            </div>
                        </div>

                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                <label class="w-100 view-label">Email id
                                    <span class="float-right">:</span></label>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                <label class="w-100 view-label"></label>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                <label class="w-100 view-label">User name
                                    <span class="float-right">:</span></label>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                <label class="w-100 view-label"></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                <label class="w-100 view-label">Gender
                                    <span class="float-right">:</span></label>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                <label class="w-100 view-label"></label>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                <label class="w-100 view-label">Designation
                                    <span class="float-right">:</span></label>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                <label class="w-100 view-label"></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                <label class="w-100 view-label">Role
                                    <span class="float-right">:</span></label>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                <label class="w-100 view-label"></label>
                            </div>
                            <!-- <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                    <label class="w-100 view-label">First name
                                        <span class="float-right">:</span></label>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                    <label class="w-100 view-label">Prem</label>
                                </div> -->
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>

    <!-- <div class="col-12 text-right pt-2">              
                    
            <button class="btn btn-success mb-2 ml-2">Download</button>
            
        </div> -->

</div>